@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
/*  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;  */

   @font-face {  
    font-family: 'Igra Sans';  
    src: url('path/to/font.woff2') format('woff2'), url('path/to/font.woff') format('woff');  
    font-weight: normal;  
    font-style: normal;  
}  
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
