@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
 --font-sans: 'Golos Text', 'Public Sans', sans-serif;
 --font-serif: 'Golos Text', 'Instrument Serif', serif; 
}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
