@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
 --font-sans: 'Golos Text', 'Public Sans', sans-serif;
 --font-serif: 'Golos Text', 'Instrument Serif', serif; 
}

.body { touch-action: manipulation;  /* Устанавливает ограничение на случайное увеличение при двойном касании */

:root {
  --ui-container: var(--container-4xl);
  touch-action: manipulation;

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
    touch-action: manipulation;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
    touch-action: manipulation;
  }
}
}